@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Poppins:wght@500;700&display=swap');

$Primary:#22C59E;
$Secondary: #FFC700;
$Background: #FFF7EE;
$Button-Shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3), 0px 0px 4px rgba(0, 0, 0, 0.3) inset;
$Button-Hover: 0px 0px 7px 3px #FFC700, 0px 0px 4px rgba(0, 0, 0, 0.3) inset;
$Text-Shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

body {
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Poppins', sans-serif;
  color: $Secondary;
  margin: 0;

  a {
    text-decoration: none;
    color: $Secondary;
  }  
}

header {
  background: $Primary;
  display: flex;
  align-items: center;
  justify-content: flex-start;

    h1:hover a{
      font-size: 1.85rem;
      color: $Background;
      cursor: default;
    }

    h1 {
      margin: 0;
      padding: 0.6rem 2rem 0.6rem 2rem;
      background: $Secondary;

      a {
        font-size: 1.8rem;
        color: $Primary;
        transition: 0.5s ease-in-out;
      }
    }

    nav {
      flex-grow: 1;
    }

    .Navi-Button {
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding: 0;

      li:active{
        border-color: $Primary;
        background: $Secondary;
        a {
          color: $Primary;
        }
      }

      li:hover {
        box-shadow: $Button-Hover;
      }

      li {
        list-style-type: none;
        font-size: 1.5rem;
        padding: 2px 20px 2px 20px;
        border: 5px solid #FFC700;
        border-radius: 25px 25px 25px 25px;
        box-shadow: $Button-Shadow;
        transition: 0.5s ease;

        a {
          text-shadow: $Text-Shadow;
        }
      }
    }


 }

 .Mobile {
  display: none;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

footer::before {
  color: #FFF7EE;
  opacity: 0.3;
  font-size: 3rem;
  position: absolute;
  content: "24 16 6D BE 66 FE 00";
  bottom: 5px;
  left: 5px;
  z-index: -1;
}

footer::after {
  color: #FFF7EE;
  opacity: 0.3;
  font-size: 3rem;
  position: absolute;
  content: "2B 56 6D 7A CB CE 10";
  top: 5px;
  right: 5px;
  z-index: -1;
}

footer {
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $Primary;
  min-height: 50px;
  bottom: 0px;
  width: 100%;

  a:hover {
    color: $Background;
  }

  a {
    font-size: 1.1rem;
    align-self: flex-end;
    padding: 0px 5px 5px 5px;
    transition: 0.3s;
  }

  .Social-Icons {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 7px 0px 0px 0px;

    svg:active path {
      fill: $Secondary;
      transition: 0.3s;
    }

    svg:hover {
      transform: scale(1.1);
    }

    svg {
      transition: 0.3s;
    }

    li {
      padding: 0px 3px 0 3px;
    }
  }
}

@media only screen and (max-width: 820px) {
  header 
  
  h1 {
    flex-grow: 1;
  }

  nav {
    display: none;
  }

    
  .Mobile {
    display: block;

    .Navi-Yellow {
      background-color: $Secondary;
      min-width: 200px;
    }

    .Navi-Green {
      background-color: $Primary;
      min-width: 85%;
    }

    .Navi-White {
      background-color: $Background;
      min-width: 85%;
    }

    .Navi-Btn {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    .Open-Btn {
      position: fixed;
      top: 20px;
      right: 10px;
    }

    button {
      opacity: 0.3;
    }

    ul li {
      list-style-type: none;
    }

    .Navi {
      position: fixed;
      display: flex;
      justify-content: center;
      top: 0;
      right: 0;
      min-height: 100vh;
      transform: translateX(100%);
      transition: 1s ease-in-out;
    }

    .visible {
      transform: translateX(0);
      transition: 1s ease-in-out;
    }

    .Navi-White {

      .Close-Btn {
        position: fixed;
        top: 20px;
        right: 10px;
      }

      ul {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        font-size: 1.2rem;

        li {
          padding: 15px 0 15px 0;

          a {
            color: $Primary;
          }
  
        }
      }

    }
  } 
}